.full-screen {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.90);
    z-index: 5000;
  }
.flex-container-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
.cross{
    position: absolute;
    top: 10%;
    right: 10%;
    width: 15px;
    height: 15px;
    background: url('../img/button-close.svg') no-repeat center rgba(255,255,255,0.90);
    background-size: 15px;
}
.image{
    width: 318px;
    height: 245;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px 0;
} 
.detalle{
    position: absolute;
    overflow: hidden;
    top: 70%;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

.acciones{
    position: absolute;
    overflow: hidden;
    top: 70%;
    right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
    width: 150px;
}

.hidden {
    display: none;
}


@media screen and (min-width: 800px){
    .detalle{
        position: absolute;
        overflow: hidden;
        top: 70%;
        left: 30%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
    }

    
}