#misgifos-link{
    color: #9CAFC3;
}

.misgifos-main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "misgifos-title"
    "misgifos-images"
    "misgifos-search"
    "trending-gifos"
    ;
}

.misgifos-title{
    grid-area: misgifos-title;
    padding-top: 10em;
}


.misgifos-images{
    grid-area: misgifos-images;
    justify-content: center;
}


#misgifos-noContent{
    color: #50E3C2;
}

.favorites-search{
    grid-area: misgifos-search;
    justify-self: center;
}


#misgifos-search-bar{
    width: 20vw;
    justify-content: center;

    body.dark &:hover {
        background: #ffffff;
    }
}

#misgifos-search-bar:hover{
    background: #572EE5;
}

#misgifos-button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #572EE5;
    background: none;

    &:hover{
        color: #ffffff;
    }

    body.dark & {
        color: #ffffff ;
    }

    body.dark &:hover{
        color: #000000;
    }
}


#misgifos-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    size: 2em;
}

#misgifos-trending-gifos-hs{
    font-size: 2em;
    padding-top: 10vh;
}


@media screen and (min-width: 800px){
    #misgifos-search-bar{
        width: 15vw;
    }
}