@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Montserrat', sans-serif; */


* {
    margin: 0 0 0 0;
    padding: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{ 
    scroll-padding-top: 20vh;
}


body {
    line-height: 1;
    display: grid;
    transition: 0.3s ease all;
}

.dark{
    background: #37383C;
}

ol, ul {
    list-style: none;
}

header{
    padding: 2vh 4vw 2vh 0;
    position: fixed;
    z-index: 10;
    width: 100%;
    border-top: 0.2em solid #572EE5;
}

#logo-light{
    display: inline;

    body.dark & {
        display: none;
    }
}   
#logo-dark{
    display: none;

    body.dark & {
        display: grid;
    }
}

header{
    float: left;
    padding-left: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header nav .menu ul {
    width: 100%;
    position: absolute;
    right: 0;
    overflow: hidden;
    list-style: none;
    background:  rgba(87,46,229,0.90);
    height: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 7vh;

    
    body.dark & {
        background: #000000;
    }

    :first-child{
        padding-bottom: 3vh;
    }
}

.nav-li{
    text-align: center;
    padding-top: 4vh;

}

.hr{
    text-align: center;
    border: 1px solid #FFFFFF;
    width: 10%;
    margin-left: 45%;
    opacity: 0.5;
}


header nav .menu ul .nav-li .nav-a {
    position: relative;
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 3vh 5%;
    line-height: 28px;
    display: block;
    font-size: 1em;

}

#link-button{
    visibility: hidden;
}

#header-button{
    visibility: hidden;
}

#dark-mode{
    display: contents;

    body.dark & {
        display: none;
    }
}   
#light-mode{
    display: none;

    body.dark & {
        display: contents;
    }
}

header nav .menu  ul .nav-li .nav-a:hover {
    color: #fff;
} 

header nav .menu input[type="checkbox"]:checked ~ ul {
    height: 1000%;
}


header nav .menu {
    padding-top: 3px;
}
header nav .menu input {
    display: block;
    opacity: 0;
    z-index: 2;
    position: absolute;
}

header nav .menu span {
    display: block;
    width: 25px;
    height: 2.5px;
    margin-bottom: 6.5px;
    position: relative;
    background: #572EE5;
    z-index: 1;
    transform-origin: 3px 0;

    body.dark &{
        background: #FFFFFF;
    }
}
header nav .menu span:first-child {
    transform-origin: 0% 0%;
}
header nav .menu span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

header nav .menu input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(2px, 1px);
}
header nav .menu input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
header nav .menu input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(1px, 0px);
}

.floating-nav{
    background: rgba(255,255,255,0.95);
    -moz-box-shadow: 0 2px 4px 1px rgba(156,175,195,0.55);
    -webkit-box-shadow: 0 2px 4px 1px rgba(156,175,195,0.55);
    box-shadow: 0 2px 4px 1px rgba(156,175,195,0.55);

    body.dark &{
        background: rgba(10, 10, 10, 0.95);
    }
}


.main{
    display:grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "title"
    "search"
    "gifResults"
    "seeMore"
    "trending"
    "trending-gifos";
    width: 100%;
}

.title {
    grid-area: title ;
    padding-top: 10em;
}
  
.hs {
    font-size: 2em;
    text-align: center;
    font-weight: 800;
    line-height: 1.2em;
    color: #572EE5;
    font-family: 'Montserrat', sans-serif;
    padding-top: 2vh;

    body.dark & {
        color: #FFFFFF;
    }
}

.secondTab{
    padding-top: 2vh;
    font-size:1.5em;
    line-height: 1.5em;
}

#noGifo{
    color: #5ED7C6;
}

.gifos {
    color: #5ED7C6;
    font-family: 'Montserrat', sans-serif;
}

.search {
    grid-area: search;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.search-bar, 
.sticky-search-bar{
    background: #FFFFFF;
    border: 1px solid #572EE5;
    border-radius: 2em;
    width: initial;
    height: 3em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
    body.dark & {
        background: #37383C;
        border: 1px solid #FFFFFF;
    }
    
}

#sticky-search-bar-id{
    width: 25%;
}
.active{
    height: 10em;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 25% 5% 70%;
    grid-template-areas: 
    "search-active fa-search-active"
    "line-search line-search";
}

.search-bar-text{
    background: none;
}

.search-bar-text-active{
    grid-area: search-active;
    height: 1em;
    background: none;
}

.fa-times{
    grid-area: fa-search-active;
    justify-self: end;
    color: #572EE5;
}

.line-search{
    grid-area: line-search ;
    border-bottom: 0.2px solid #9CAFC3;
    width: 100%;
    align-self: start;

    body.dark &{
        border-bottom:4px solid #ffffff;
    }
}

.fa-search{
    color: #572EE5;

    body.dark & {
        color: #FFFFFF;
    }
}

#gif-results{
    grid-area: gifResults;
    padding-top: 5vh;

}

.seeMore{
    grid-area: seeMore;
    display: flex; 
    justify-content: center;
}

.trending{
    grid-area: trending;
    padding: 5vh;
}

#trending-hs{
    font-size: 1.5em;
    font-weight: 700;
}

#trending-terms{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ps{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #572EE5;
    text-transform: capitalize;
    padding: 1vw;
    background: transparent;
    outline: none;

    body.dark & {
        color: #FFFFFF;
    }

}

.trending-gifos{
    grid-area: trending-gifos;
    background: #F3F5F8;
    body.dark & {
        background: #222326;
    }
}

#trending-gifos-hs{
    font-size: 2em;
    padding-top: 10vh;
}

.trending-gifos > p{
    text-align: center;
    padding-bottom: 4vh;

    body.dark & {
        color: #FFFFFF;
    }
}

.carousel{
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 5% 90% 5%;
    grid-template-areas: 
    "btn-bw-carrousel slick-track btn-fw-carrousel";
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
    grid-area: slick-track;
}


.trending-gifos-carrousel{
    position: relative;
    display: flex;
    align-items: center;
    max-width: 100vw;
    overflow: hidden;
}


#btn-fw-carrousel{
    background: transparent;
    grid-area: btn-fw-carrousel;

}

#btn-bw-carrousel{
    background: transparent;
    grid-area: btn-bw-carrousel;
}

#btn-fw-carrousel:focus { 
    outline: none;
}

#btn-bw-carrousel:focus { 
    outline: none;
}

.fa-angle-left{
    display: none;
}

.fa-angle-right{
    display: none;
}



.footer{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    padding: 4vh;

    p {
        body.dark & {
            color: #FFFFFF;
        }
    }
}


.contacts > h4,a{
    padding: 0.5em;

    body.dark & {
        color: #FFFFFF
    }
}


.fab:hover{
    color: #572EE5;

    body.dark & {
        color: #FFFFFF;
    }
}

.noContent{
    /* display: none; */
}

.noContent-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    size: 1vh;
}


@media screen and (min-width: 800px){
    header{
        padding: 2.5vh;
    }

    header nav .menu ul {
        top: 0;
        right: 0;
        position: relative;
        overflow: hidden;
        background: unset;
        height: unset;
        display: flex;
        flex-flow: row;
        margin-top: 0;

        body.dark & {
            background: #37383C;
        }
    }

    header nav .menu  ul .nav-li {
        padding: 1em;
        display: flex;
        flex-flow: row; 

    } 

    header nav .menu  ul .nav-li:hover {
        background: unset;
        color: #572EE5;
        border-bottom: 2px solid #5ED7C6;

    }
    
    .hr{
        display: none;
    }    

    header nav .menu ul .nav-li .nav-a {
        padding: unset;
        line-height: unset;
        color: #572EE5;

        body.dark & {
            color: #FFFFFF;
        }
    }

    header nav .menu  ul .nav-li:active{
        border-bottom: none;
    }

    header nav .menu  ul .nav-li .nav-a:hover{
        color: #572EE5;
    }
    header nav .menu  ul .nav-li .nav-a:active{
        color: #9CAFC3; 
    }

    header nav .menu input {
        display: none;
    }
    header nav .menu span {
        display: none;
    }

    #link-button{
        visibility: visible;
    }

    #header-button{
        visibility: visible;
        padding: 1em 1em 1em 1em;
        background: #FFFFFF;
        border: 1px solid #572EE5;
        border-radius: 50%;
        color: #572EE5;

        body.dark &{
            color: #FFFFFF;
            border: 1px solid #FFFFFF;
            background: #37383C;

        }

    }

    #header-button:hover{
        background: #572EE5;
        color: #FFFFFF;

        body.dark & {
            color: #222326;
            border: 1px solid #FFFFFF;
            background: #FFFFFF;
        }
        
    }

    #header-button:active{
        background: #9CAFC3;
        border: 1px solid #9CAFC3;
        color: #fff;
    }


    .trending-gifos{
        padding-bottom: 10vh;
        justify-self: center;
    }

    

    .fa-angle-left{
        font-size: 3em;
        color: #572EE5;
        border: 1px solid #572EE5;
        padding: 0.2em;
        display: inline;
    
        &:hover{
            background: #572EE5;
            color: #FFFFFF;
        }
    
        body.dark &{
            background: #222326;
            color: #FFFFFF;
            border: 1px solid #FFFFFF;
    
            &:hover{
                color: #222326;
                background: #FFFFFF;
            }
        }
    
    }
    
    .fa-angle-right{
        font-size: 3em;
        color: #572EE5;
        border: 1px solid #572EE5;
        padding: 0.2em;
        display: inline;
    
        &:hover{
            background: #572EE5;
            color: #FFFFFF;
        }
    
        body.dark &{
            background: #222326;
            color: #FFFFFF;
            border: 1px solid #FFFFFF;
    
            &:hover{
                color: #222326;
                background: #FFFFFF;
            }
        }
    }

    .footer{
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 0.2em solid #572EE5;
    }
    
    .contacts{
        display: flex;
        flex-direction: row;
    }
    
}