@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* font-family: 'Roboto', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: 'Montserrat', sans-serif; */
* {
  margin: 0 0 0 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-padding-top: 20vh;
}

body {
  line-height: 1;
  display: -ms-grid;
  display: grid;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.dark {
  background: #37383C;
}

ol, ul {
  list-style: none;
}

header {
  padding: 2vh 4vw 2vh 0;
  position: fixed;
  z-index: 10;
  width: 100%;
  border-top: 0.2em solid #572EE5;
}

body.dark header {
  border-top: 0.2em solid #000000;
}

#logo-light {
  display: inline;
}

body.dark #logo-light {
  display: none;
}

#logo-dark {
  display: none;
}

body.dark #logo-dark {
  display: -ms-grid;
  display: grid;
}

header {
  float: left;
  padding-left: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .menu ul {
  width: 100%;
  position: absolute;
  right: 0;
  overflow: hidden;
  list-style: none;
  background: rgba(87, 46, 229, 0.9);
  height: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-top: 7vh;
}

body.dark header nav .menu ul {
  background: #000000;
}

header nav .menu ul :first-child {
  padding-bottom: 3vh;
}

.nav-li {
  text-align: center;
  padding-top: 4vh;
}

.hr {
  text-align: center;
  border: 1px solid #FFFFFF;
  width: 10%;
  margin-left: 45%;
  opacity: 0.5;
}

header nav .menu ul .nav-li .nav-a {
  position: relative;
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 3vh 5%;
  line-height: 28px;
  display: block;
  font-size: 1em;
}

#link-button {
  visibility: hidden;
}

#header-button {
  visibility: hidden;
}

#dark-mode {
  display: contents;
}

body.dark #dark-mode {
  display: none;
}

#light-mode {
  display: none;
}

body.dark #light-mode {
  display: contents;
}

header nav .menu ul .nav-li .nav-a:hover {
  color: #fff;
}

header nav .menu input[type="checkbox"]:checked ~ ul {
  height: 1000%;
}

header nav .menu {
  padding-top: 3px;
}

header nav .menu input {
  display: block;
  opacity: 0;
  z-index: 2;
  position: absolute;
}

header nav .menu span {
  display: block;
  width: 25px;
  height: 2.5px;
  margin-bottom: 6.5px;
  position: relative;
  background: #572EE5;
  z-index: 1;
  -webkit-transform-origin: 3px 0;
          transform-origin: 3px 0;
}

body.dark header nav .menu span {
  background: #FFFFFF;
}

header nav .menu span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

header nav .menu span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

header nav .menu input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(2px, 1px);
          transform: rotate(45deg) translate(2px, 1px);
}

header nav .menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

header nav .menu input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(1px, 0px);
          transform: rotate(-45deg) translate(1px, 0px);
}

.floating-nav {
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0 2px 4px 1px rgba(156, 175, 195, 0.55);
  box-shadow: 0 2px 4px 1px rgba(156, 175, 195, 0.55);
}

body.dark .floating-nav {
  background: rgba(55, 56, 60, 0.95);
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto;
      grid-template-areas: "title" "search" "gifResults" "seeMore" "trending" "trending-gifos";
  width: 100%;
}

.title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  padding-top: 10em;
}

.hs {
  font-size: 2em;
  text-align: center;
  font-weight: 800;
  line-height: 1.2em;
  color: #572EE5;
  font-family: 'Montserrat', sans-serif;
  padding-top: 2vh;
}

body.dark .hs {
  color: #FFFFFF;
}

.secondTab {
  padding-top: 2vh;
  font-size: 1.5em;
  line-height: 1.5em;
}

#noGifo {
  color: #5ED7C6;
}

.gifos {
  color: #5ED7C6;
  font-family: 'Montserrat', sans-serif;
}

.search {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: search;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
}

.search-box,
.sticky-search-box {
  background: #FFFFFF;
  border: 1px solid #572EE5;
  border-radius: 2em;
  width: initial;
  height: auto;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body.dark .search-box, body.dark
.sticky-search-box {
  background: #37383C;
  border: 1px solid #FFFFFF;
}

#sticky-search-bar-id {
  width: 25%;
  display: none;
}

.active {
  height: 10em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75% 25%;
      grid-template-columns: 75% 25%;
  -ms-grid-rows: 25% 5% 70%;
      grid-template-rows: 25% 5% 70%;
      grid-template-areas: "search-active ..." "line-search line-search";
}

.search-bar-text {
  background: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

body.dark .search-bar-text {
  color: #FFFFFF;
}

.search-bar-text-active {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: search-active;
  height: 1em;
  background: none;
}

.line-search {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: line-search;
  border-bottom: 0.2px solid #9CAFC3;
  width: 100%;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

body.dark .line-search {
  border-bottom: 4px solid #ffffff;
}

.search {
  float: right;
  display: block;
}

.search-active {
  content: url("../assets/close.svg") !important;
}

#lupe-light {
  display: inline;
}

body.dark #lupe-light {
  display: none;
}

#lupe-dark {
  display: none;
}

body.dark #lupe-dark {
  display: -ms-grid;
  display: grid;
}

body.dark #lupe-sticky-light {
  display: none;
}

#lupe-sticky-dark {
  display: none;
}

body.dark #lupe-sticky-dark {
  display: inline;
}

#cross-search {
  color: #572EE5;
  float: right;
  display: none;
}

body.dark #cross-search {
  color: #FFFFFF;
}

.option-list {
  color: #9CAFC3;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  line-height: 2vh;
  padding-top: 1vh;
}

.suggest {
  color: #9CAFC3;
  float: left;
  padding-right: 1vw;
}

#gif-results {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: gifResults;
  padding-top: 5vh;
}

.seeMore {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: seeMore;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trending {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: trending;
  padding: 5vh;
}

#trending-hs {
  font-size: 1.5em;
  font-weight: 700;
}

#trending-terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ps {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #572EE5;
  text-transform: capitalize;
  padding: 1vw;
  background: transparent;
  outline: none;
}

body.dark .ps {
  color: #FFFFFF;
}

.trending-gifos {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: trending-gifos;
  background: #F3F5F8;
}

body.dark .trending-gifos {
  background: #222326;
}

#trending-gifos-hs {
  font-size: 2em;
  padding-top: 10vh;
}

.trending-gifos > p {
  text-align: center;
  padding-bottom: 4vh;
}

body.dark .trending-gifos > p {
  color: #FFFFFF;
}

.carousel {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 5% 90% 5%;
      grid-template-columns: 5% 90% 5%;
      grid-template-areas: "btn-bw-carrousel slick-track btn-fw-carrousel";
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: slick-track;
}

.trending-gifos-carrousel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100vw;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

#btn-fw-carrousel {
  background: transparent;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: btn-fw-carrousel;
}

#btn-bw-carrousel {
  background: transparent;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: btn-bw-carrousel;
}

#btn-fw-carrousel:focus {
  outline: none;
}

#btn-bw-carrousel:focus {
  outline: none;
}

#prev {
  display: none;
}

#next {
  display: none;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1em;
  padding: 4vh;
  border-bottom: 0.2em solid #572EE5;
}

body.dark .footer p {
  color: #FFFFFF;
}

body.dark .footer {
  border-bottom: 0.2em solid #000000;
}

.contacts > h4, a {
  padding: 0.5em;
}

body.dark .contacts > h4, body.dark a {
  color: #FFFFFF;
}

.fab:hover {
  color: #572EE5;
}

body.dark .fab:hover {
  color: #FFFFFF;
}

.noContent-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  size: 1vh;
}

@media screen and (min-width: 800px) {
  header {
    padding: 2.5vh;
  }
  header nav .menu ul {
    top: 0;
    right: 0;
    position: relative;
    overflow: hidden;
    background: unset;
    height: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    margin-top: 0;
  }
  body.dark header nav .menu ul {
    background: #37383C;
  }
  header nav .menu ul .nav-li {
    padding: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  header nav .menu ul .nav-li:hover {
    background: unset;
    color: #572EE5;
    border-bottom: 2px solid #5ED7C6;
  }
  .hr {
    display: none;
  }
  header nav .menu ul .nav-li .nav-a {
    padding: unset;
    line-height: unset;
    color: #572EE5;
  }
  body.dark header nav .menu ul .nav-li .nav-a {
    color: #FFFFFF;
  }
  header nav .menu ul .nav-li:active {
    border-bottom: none;
  }
  header nav .menu ul .nav-li .nav-a:hover {
    color: #572EE5;
  }
  header nav .menu ul .nav-li .nav-a:active {
    color: #9CAFC3;
  }
  header nav .menu input {
    display: none;
  }
  header nav .menu span {
    display: none;
  }
  #link-button {
    visibility: visible;
  }
  #header-button {
    visibility: visible;
    padding: 1em 1em 1em 1em;
    background: #FFFFFF;
    border: 1px solid #572EE5;
    border-radius: 50%;
    color: #572EE5;
  }
  body.dark #header-button {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background: #37383C;
  }
  #header-button:hover {
    background: #572EE5;
    color: #FFFFFF;
  }
  body.dark #header-button:hover {
    color: #222326;
    border: 1px solid #FFFFFF;
    background: #FFFFFF;
  }
  #header-button:active {
    background: #9CAFC3;
    border: 1px solid #9CAFC3;
    color: #fff;
  }
  .trending-gifos {
    padding-bottom: 10vh;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #next {
    font-size: 3em;
    color: #572EE5;
    border: 1px solid #572EE5;
    padding: 0.2em;
    display: inline;
  }
  #next:hover {
    background: #572EE5;
    color: #FFFFFF;
  }
  body.dark #next {
    background: #222326;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
  }
  body.dark #next:hover {
    color: #222326;
    background: #FFFFFF;
  }
  #prev {
    font-size: 3em;
    color: #572EE5;
    border: 1px solid #572EE5;
    padding: 0.2em;
    display: inline;
  }
  #prev:hover {
    background: #572EE5;
    color: #FFFFFF;
  }
  body.dark #prev {
    background: #222326;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
  }
  body.dark #prev:hover {
    color: #222326;
    background: #FFFFFF;
  }
  .trending-gifos-carrousel {
    overflow: hidden;
  }
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=styleindex2.css.map */