#favorites-link{
    color: #9CAFC3;
}

.favorites-main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas: 
    "favorites-title"
    "favorites-images"
    "favorites-search"
    "trending-gifos"
    ;
}

.favorites-title{
    grid-area: favorites-title;
    padding-top: 10em;
}

#fav-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    size: 2em;
}

.favorites-images{
    grid-area: favorites-images;
}


#favorites-noContent{
    color: #50E3C2;
}


.favorites-search{
    grid-area: favorites-search;
    justify-self: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
}


#favorites-button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #572EE5;
    background: none;
    border: 1px solid #572EE5;
    border-radius: 25px;
    padding: 1em;

    &:hover {
        color: #ffffff;
        background: #572EE5;
    }

    body.dark & {
        color: #ffffff;
        border: 1px solid #ffffff;
    }

    body.dark &:hover{
        color: #000000;
        background: #ffffff;
        border: 1px solid #ffffff;
    }
}


#favorites-trending-gifos-hs{
    font-size: 2em;
    padding-top: 10vh;
}


@media screen and (min-width: 800px){
    #favorites-search-bar{
        width: 15vw;
    }
}